.summarize-summary {
	max-width: 750px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #feffd6;
}

.summarize-summary .summarize-heading {
	font-weight: bold;
	font-size: 0.7em;
}

.summarize-summary .summarize-hide {
	font-weight: normal;
	float: right;
	color: #369;
	text-decoration: underline;
	cursor: pointer;
}

.summarize-summary .summarize-tldr {
	margin-bottom: 5px;
}

.summarize-pdf {
	background-color: #CCCCCC;
}

.summarize-pdf>.summarize-summary {
	max-width: 50%;
	width: 50%;
	margin: 0;
	padding-bottom: 20px;
	margin-left: 25%;
	background-color: transparent;
}