.summarize-summary {
	max-width: 750px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #feffd6;
}

.summarize-summary .summarize-heading {
	font-weight: bold;
	font-size: 0.7em;
	display: inline-block;
	width: 100%;
}

.summarize-summary .summarize-hide {
	font-weight: normal;
	float: right;
	color: #369;
	text-decoration: underline;
	cursor: pointer;
}

.summarize-summary .summarize-tldr {
	margin-bottom: 5px;
}

.summarize-pdf {
	color: #444;
	background-color: #CCCCCC;
	width: 100%;
}

.summarize-pdf .summarize-summary {
	max-width: 50%;
	width: 50%;
	margin: 0;
	padding-bottom: 20px;
	margin-left: 25%;
	background-color: #ff5522;
	color: white;
}

.summarize-pdf .summarize-summary .summarize-heading {
	/*display: inline-block;*/
}

.summarize-pdf .summarize-summary .summarize-hide {
	color: white;
}

.conversion {
	display: inline-block;
	border: 3px solid #fca;
	border-radius: 4px;
	padding-left: 7px;
	text-decoration: inherit;
}

.math {
	background: #fca;
	display: inline-block;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 7px;
	text-decoration: inherit;
}

.conversion-original {
	display: none;
	text-decoration: inherit;
}

.conversionoffcontainer {
	position: absolute;
	margin-top: -50px;
	height: 55px;
	width: 100px;
	z-index: 1;
	text-decoration: none;
}

.sum-button {
	text-decoration: none;
	border: 1px solid #f58b00;
	cursor: pointer;
	color: #444;
	padding: 3px;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

.sum-button:hover {
	border: 1px solid #c36800;
	color: #222;
}

.sum-button:active {
	background: #ddd3c0;
}

.conversionoff {
	position: absolute;
	margin-top: -50px;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	background: #fff3e0;
	border: 4px solid #f58b00;
	z-index: 5;
	text-decoration: none;
}


.conversionoff:after, .conversionoff:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.conversionoff:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff3e0;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.conversionoff:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #f58b00;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}